.c-actus {
    z-index: 5;

    .c-actus__link {
        display: block;
        text-decoration: none;
        color: color("black");

        &:hover {
            .c-actus__title {
                color: color("red-500");
                text-decoration: underline;
            }
        }
    }
}