.c-tournament {
    z-index: 4;

    &:after {
        position: absolute;
        content: '';
        z-index: -1;
        top: 0;
        left: 0;
        margin: 0;
        height: 38.4rem;
        width: 38.4rem;
        background-image: url("images/cross.png");
        background-repeat: repeat;
        background-size: 3.6rem;
        background-position: center;
        pointer-events: none;
    }

    &:before {
        position: absolute;
        content: '';
        z-index: 2;
        top: -12.8rem;
        left: 0;
        margin: 0 auto;
        height: 12.8rem;
        width: 100%;
        background-image: url("images/paper.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center top;
        pointer-events: none;
    }

    .c-tournament__item {
        text-decoration: none;
        color: color("black");

        &:hover {
            .c-tournament__name {
                color: color("red-500");
            }
            .c-tournament__arrow {
                opacity: 1;
                @include translate--x(0);
            }
            .c-tournament__bg {
                background-color: rgba(color("coton"),0);
            }
        }
    } 

    .c-tournament__bg {
        border-radius: 1.6rem;
        background-color: rgba(0,0,0,0.05);
    }

    .c-tournament__img {
        display: block;
        width: 100%;
        height: auto;
    }

    .c-tournament__arrow {
        display: block;
        width: 2.4rem;
        height: 1.6rem;
        opacity: 0;
        @include translate--x(-10px);
    }
}