.c-stream {
    position: relative;
    z-index: 1;
    border: .4rem solid color("grey-900");
    height: 66vh;
    min-height: 32rem;
    max-height: 100vh;
    border-radius: 1.6rem;
    background-color: color("black");
}
