.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.justify-center {justify-content: center!important;}
.justify-start {justify-content: start!important;}
.justify-end {justify-content: end!important;}
.justify-between {justify-content: space-between!important;}
.justify-around {justify-content: space-around!important;}

.align-center {align-items: center!important;}
.align-start {align-items: flex-start!important;}
.align-end {align-items: flex-end!important;}
.align-stretch {align-items: stretch!important;}

.direction-row {flex-direction: row!important;}
.direction-row-reverse {flex-direction: row-reverse!important;}
.direction-column {flex-direction: column!important;}
.direction-column-reverse {flex-direction: column-reverse!important;}

.self-flex-start {align-self: flex-start!important;}
.self-flex-end {align-self: flex-end!important;}
.self-center {align-self: center!important;}
.self-baseline {align-self: baseline!important;}
.self-stretch {align-self: stretch!important;}

.flex-grow {flex-grow: 1!important;}

.flex-wrap {flex-wrap: wrap!important;}
.flex-nowrap {flex-wrap: nowrap!important;}



@each $theBreakpoint in map-keys($breakpoints) {
    @include breakpoint($theBreakpoint) {

        $theAbbrev : map-get($breakpoints--abbrev, $theBreakpoint);

        .order#{$theAbbrev}-1 {order: 1!important;}
        .order#{$theAbbrev}-2 {order: 2!important;}
        .order#{$theAbbrev}-3 {order: 3!important;}
        .order#{$theAbbrev}-4 {order: 4!important;}
        .order#{$theAbbrev}-5 {order: 5!important;}
    }
}