/* ===============
    Font face
    =============== */

@font-face {
  font-family: 'Spartan';
  src: url('fonts/Spartan-Regular.woff2') format('woff2'),
      url('fonts/Spartan-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SpartanBold';
  src: url('fonts/Spartan-Bold.woff2') format('woff2'),
      url('fonts/Spartan-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Covered By Your Grace';
  src: url('fonts/CoveredByYourGrace.woff2') format('woff2'),
      url('fonts/CoveredByYourGrace.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}





/* ===============
   Font var
   =============== */

$font--light:   'Spartan';
$font--regular: 'Spartan';
$font--bold:    'SpartanBold';
$font--title:   'Covered By Your Grace';


$font--family: (
  light: $font--light,
  regulat: $font--regular,
  bold: $font--bold,
  title: $font--title
) !default;


/* ===============
    Font size
    =============== */


$font--sizes: (
  10: 1rem,
  12: 1.2rem,
  14: 1.4rem,
  16: 1.6rem,
  18: 1.8rem,
  20: 2rem,
  24: 2.6rem,
  32: 3.2rem,
  48: 4.8rem,
  64: 6.4rem,
  80: 8rem,
  128: 12.8rem
) !default;
